<body class="fixed-sn white-skin">

<header>
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav fixed mdb-sidenav">
        <ul>
            <!-- Logo -->
            <a class="mt-md-5 mb-md-5 mb-sm-3 mt-sm-3 waves-effect">
                <img src="/img/logo.png" class="img-flUID" alt="">
            </a>
            <!--/. Logo -->
            <div class="list-group list-group-flush">

                <!-- Side navigation links -->
                <a href="/" class="list-group-item waves-effect <% if (page === "home") { %> <%= "active" %> <% } %>">
                    <i class="fas fa-home mr-3 ml-2"></i>Home
                </a>

                <a href="/recorders"
                   class="list-group-item waves-effect <% if (page === "recorders") { %> <%= "active" %> <% } %>">
                    <i class="fas fa-video mr-3 ml-2"></i>Recorders
                </a>

                <a href="/processes"
                   class="list-group-item waves-effect <% if (page === "processes") { %> <%= "active" %> <% } %>">
                    <i class="fas fa-spinner mr-3 ml-2"></i>Processes
                </a>

                <a href="/mediaplayer"
                   class="list-group-item waves-effect <% if (page === "mediaplayer") { %> <%= "active" %> <% } %>">
                    <i class="fas fa-tv mr-3 ml-2"></i>Media Player
                </a>

                <a href="/logs"
                   class="list-group-item waves-effect <% if (page === "logs") { %> <%= "active" %> <% } %>">
                    <i class="fas fa-terminal mr-3 ml-2"></i>Logs
                </a>

                <a href="/settings"
                   class="list-group-item waves-effect <% if (page === "settings") { %> <%= "active" %> <% } %>">
                    <i class="fa fa-cog mr-3 ml-2"></i>Settings
                </a>

            </div>
            <!--/. Side navigation links -->

        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p><%= appInfos.appName %></p>
        </div>
    </nav>
    <!-- /.Navbar -->
</header>
<!--/.Double navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-flUID mt-5">
